.choose_dishes {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 58px;
	h2 {
		font-family: 'barlow-600';
		font-weight: 600;
		font-size: 20px;
		line-height: 140%;
		display: inline-block;
	}
	 .choose_dishes_wrapper {
		display: inline-block;
		select {
		display: inline-block;
		outline: none;
		background: #1F1D2B;
		border: 1px solid #393C49;
		box-sizing: border-box;
		border-radius: 8px;
		color: #FFFFFF;
		padding: 15px 14px 15px 44px;
			option {
				font-family: 'barlow-500';
				font-weight: 500;
				font-size: 14px;
				line-height: 130%;
				color: #FFFFFF;
				border: 1px solid #393C49;
				box-sizing: border-box;
				border-radius: 8px;
				padding: 15px 14px 15px 44px;
				display: inline-block;
			}
	  }
	}
}