
.settings_left_item_wrapper {
	&:active {
		background: rgba(234, 124, 105, 0.26);
	}
	.settings_left_item {
		&:active {
		background: rgba(234, 124, 105, 0.26);
	}
		padding: 24px;
		display: flex;
		.settings_left_icon {
			margin-right: 9.33px;
			img {
				display: inline-block;
			}
		}
		h4 {
			font-family: 'barlow-500';
			font-weight: 500;
			font-size: 14px;
			line-height: 130%;
			margin-bottom: 4px;
			color: #fff;
		}
		p {
			font-family: 'barlow-400';
			font-weight: normal;
			font-size: 12px;
			line-height: 140%;
			color: #ABBBC2;
		}
	}
}
